.details-container {
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}

.details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: white;
    display: flex;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    border: 5px solid #e99c7a;
    border-radius: 20px;
    padding: 25px 0px 25px 0px;
    filter: drop-shadow(5px 0px 5px #878787);
}

.details-info-container1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
}

.details-info-container2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
}

.img-details{
    width: 200px;
    height: fit-content;
    filter: drop-shadow(5px 0px 5px #000000);
    padding-bottom: 10px;
}

.button-details {
    margin-top: 10px;
    width: 80%;
    height: 28px;
    font-family: 'Inter', sans-serif;
    color: #6c6f85;
    font-size: 14px;
    border: 1px solid #dce0e8;
    background-color: white;
    transition: 300ms;
}

.button-details:hover {
    background-color: #e99c7a;
    color: white;
}

.button-details:active {
    transition: 0;
    transform: translateY(2.5px);
}